/* Css reset */
*,
	*::before,
	*::after {
		box-sizing: border-box;
		background-repeat: no-repeat;
	}

	* {
		padding: 0;
		margin: 0;
	}

	html {
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
        block-size: 100%;
	}

	body {
		min-block-size: 100%;
	}

	img,
	iframe,
	audio,
	video,
	canvas {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	svg {
		max-inline-size: 100%;
	}

	svg:not([fill]) {
		fill: currentColor;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	textarea {
		resize: vertical;
	}

	fieldset,
	iframe {
		border: none;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	p {
		text-wrap: pretty;
		font-variant-numeric: proportional-nums;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-variant-numeric: lining-nums;
	}

	p,
    blockquote,
    q,
    figcaption,
    li {
        hanging-punctuation: first allow-end last;
    }

	input,
	label,
	button,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
        line-height: 1.1;
    }

	math,
	time,
	table {
		font-variant-numeric: tabular-nums lining-nums slashed-zero;
	}

	code {
		font-variant-numeric: slashed-zero;
	}

	table {
		border-collapse: collapse;
	}

	abbr {
		font-variant-caps: all-small-caps;
		text-decoration: none;

		&[title] {
			cursor: help;
			text-decoration: underline dotted;
		}
	}

	sup,
	sub {
		line-height: 0;
	}

	:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}

	:focus-visible {
		outline-offset: 0.2rem;
	}
/* Body */
body{
    font-family: "Inter", sans-serif;
    width: 900px;
    min-height:100vh;
    border: 1px solid black;
    margin: 0 auto;
}
/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.726) ), url('./images/logo.png');
    background-size: cover;
    background-position: 50% 25%;
    background-color: black;
    min-width: 100%;
    height: 225px;
    color: #FFFFFF;
}
.container{
	width: 100%;
    padding: 0 4em;
	position: relative;
}
.header-elements{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#project-title{
    font-size: 3.25rem;
    font-weight: 800;
}
#html-link{
	align-self: self-end;
	padding-bottom: .25em;
    font-size: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}
/* Main */
main{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffffdc;
}
/* Search input */
#input-div {
    display: flex;
    align-items: stretch;
    width: 90%;
    max-width: 760px;
    height: 45px;
    margin: 0 auto;    
	border: 1px solid gray;
    background-color: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;

    position: relative; 
    top: -22px; 
    margin-bottom: .25em;
}
#search-div{
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-grow: 1;
	gap: .5em;
	padding: 1em;
}
#search-icon-div{
	display: flex;
	align-items: center;
	width: 25px;
}
#search-input{
	border: none;
	width: 100%;
	padding: .75em 0;
	padding-left: .5em;
	outline: none;
	font-size: 1.25rem
}
#search-btn{
	border: none;
    padding: .6em 3em;
	cursor: pointer;
}
#search-btn:hover{
	background-color: rgba(131, 121, 121, 0.473);
}

/* Movies */
#movie-display-div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movie{
	display: flex;
	width: 90%;
	height: 250px;
	border-bottom: 1px solid gray;
}
.movie-info-div{
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding: 2em 1.25em;
	flex: 3;
}
.movie-title-rating-div{
	display: flex;
	align-content: center;
	justify-content: center;
}
.movie-title{
	font-size: 1.5rem;
	white-space: nowrap;
}
.movie-rating-div{
	display: flex;
	align-items: flex-end;
}
.movie-length-genre-div{
	display: flex;
	align-items: center;
	margin: 1em 0;
	gap: 1.5em;
}
.movie-length, .movie-genre{
	white-space: nowrap;
}
.add-to-watchlist-div{
	display: flex;
	align-items: flex-end;
}
.add-to-watchlist-btn{
	border: none;
	margin-left: .3em;
	cursor: pointer;
}
.movie-plot-p{
	color: rgb(104, 103, 103);
	align-self: self-start;
	max-width: 50ch;
}
/* Movie Icons */

.movie-poster-div{
	flex: 1;
	margin: auto 0;
	object-fit: contain;
}
.movie-poster{
	height: 80%;
	width: 80%;
}
.movie-rating-icon-div{
	margin: 0 .75em;
	align-self: center;
	width: 15px;
}
.plus-icon-div{
	width: 20px;
	cursor: pointer;
}