/* Css reset */
*,
	*::before,
	*::after {
		box-sizing: border-box;
		background-repeat: no-repeat;
	}

	* {
		padding: 0;
		margin: 0;
	}

	html {
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
        block-size: 100%;
	}

	body {
		min-block-size: 100%;
	}

	img,
	iframe,
	audio,
	video,
	canvas {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	svg {
		max-inline-size: 100%;
	}

	svg:not([fill]) {
		fill: currentColor;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	textarea {
		resize: vertical;
	}

	fieldset,
	iframe {
		border: none;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	p {
		text-wrap: pretty;
		font-variant-numeric: proportional-nums;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-variant-numeric: lining-nums;
	}

	p,
    blockquote,
    q,
    figcaption,
    li {
        hanging-punctuation: first allow-end last;
    }

	input,
	label,
	button,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
        line-height: 1.1;
    }

	math,
	time,
	table {
		font-variant-numeric: tabular-nums lining-nums slashed-zero;
	}

	code {
		font-variant-numeric: slashed-zero;
	}

	table {
		border-collapse: collapse;
	}

	abbr {
		font-variant-caps: all-small-caps;
		text-decoration: none;

		&[title] {
			cursor: help;
			text-decoration: underline dotted;
		}
	}

	sup,
	sub {
		line-height: 0;
	}

	:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}

	:focus-visible {
		outline-offset: 0.2rem;
	}

/* Body */
body{
  width: 400px;
  background-color: rgba(26, 27, 33, 1);
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 25px;
  font-family: 'Inter';
}
/* Info section */
#root{
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hero-img-div{
  background-image: url('./assets/hero.png');
  background-repeat: no-repeat;
  background-size: 190%;
  background-position: 60% 20%;
  width: 100%;
  height: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hero-description-div{
  padding: 1em 2em;
}
.hero-name{
  font-weight: 700;
  letter-spacing: .5px;
  margin-bottom: .1em;
}
.hero-job-description{
  color: rgba(243, 191, 153, 1);
}
.hero-site{
  font-size: .8em;
  margin: .2em 0 1em 0;
}
.email-icon, .linkedin-icon{
  width: 10%;
}
.button-div{
  display: flex;
  gap: 1.5em;
}
.btn{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  border: none;
  gap: .6em;
}
.email-btn{
  color: black;
  background-color: white;
}
.linkedin-icon{
  padding: .15em;
  background-color: white;
}
.linkedin-btn{
  background-color: rgba(80, 147, 226, 1);
}
/* About section */
/* Interest section */

.about-section, .interests-section{
  padding: 1em 2em;
  text-align: start;
}

.interests-section{
  margin-bottom: 2em;
}
/* Footer section */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: rgba(22, 22, 25, 1);
  gap: 1.5em;
}

.footer-icon-span{
  width: 35px;
}
.footer-icon{
  width: 100%;
  background-color: gray;
  border-radius: 5px;
  padding: .4em;
}